.fz-12 {
  font-size: 12px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-24 {
  font-size: 24px;
}

.fz-60 {
  font-size: 60px;
}

.fz-30 {
  font-size: 30px;
}
.fz-80 {
  font-size: 80px;
}

.fz-100 {
  font-size: 100px;
}