@import './normalize';
@import './fonts';
@import './vars';
@import './font-size';
@import './interface';

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  @include light;
  font-size: 16px;
  color: $color-black;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@import './header/header';
@import './header/header-media';

@import './nav/nav';
